<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Homework.9-Objects and Classes</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../models/games.js"></script>
  <script src="../models/game.js"></script>
  <script src="../views/games.js"></script>
</head>

<body>

  <div class="container mainGames">
    <h1 id="title">Homework.9-Objects and Classes</h1>
    

    <div id="addContainer">
      <button id="addGame" class="btn btn-primary" >Add Game</button>
    </div>
    
    <div id="games-list" class="row">
  
    </div>
  </div>
  

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h4 class="confirmation mt-3"></h4>
      </div>
    </div>
  </div>

</body>

</html>